/*最新揭晓*/

.latest-active-box{clear:both;}
.latest-active-box .publish-box{width:7.975rem;height:12.35rem;float:left;border-bottom:0.05rem solid #f0f0f0;}
.latest-active-box .publish-box:nth-child(2n+1){border-right:0.05rem solid #f0f0f0;}
.latest-active-box .publish-box>.item-logo{margin:0.5rem;height:5.5rem;line-height:5.5rem;text-align:center;}
.latest-active-box .publish-box>.item-logo>img{width:100%;height:100%;}
.latest-active-box .publish-box>.item-title{padding:0 0.5rem;height:1.2rem;overflow:hidden;margin:auto;font-size:0.5rem;line-height:0.6rem;color:#535353;}
.latest-active-box .publish-box>.item-time{width:4.5rem;height:1.35rem;text-align:center;line-height:1.35rem;overflow:hidden;margin:auto;font-size:0.7rem;color:#f10;}
.latest-active-box .publish-box>.item-info-ico{padding:0.5rem 0.25rem;margin-top:0.5rem;font-size:0.6rem;color:#f0223c;}
.latest-active-box .publish-box>.item-info-ico>i{margin-right:0.2rem;font-size:0.7rem;}